parameters:
	ignoreErrors:
		-
			message: '#^Trait Phattarachai\\TaskRunsLaravel\\Concerns\\InteractsWithTaskRun is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/InteractsWithTaskRun.php

		-
			message: '#^Trait Phattarachai\\TaskRunsLaravel\\Concerns\\Interruptible is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Concerns/Interruptible.php
